<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dar bg-dark">
     <a class="navbar-brand" href="#" style="color:#fff">TapSearch</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class= "navbar-nav mx-auto">
         <li class="nav-item active">
           <a class="nav-link" href="#" style="color:#fff">Add PDF'S</a>
         </li>
       </ul>

       <form class="form-inline" method = "post">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label = "Search">
         <button class="btn btn-light my-sm-0" type="submit">Search</button>

       </form>
     </div>
    </nav>

<form method="post">
<div class="form-group">
  <label for="exampleFormControlTextarea1">Example textarea</label>
  <textarea class="form-control" id="tt" rows="20" name="item" style="padding-left:5px;padding-right:5px"></textarea>
</div>


    <nav class="navbar fixed-bottom navbar-light bg-dark">

        <div class="text-right">

        <button  class=" btn btn-light" id = "save"  type="button">Save</button>


        <button class="btn btn-danger " id = "delete" type="button">Delete</button>
        </div>



    </nav>
  </form>
<script type="text/javascript">

$('#save').click(function(){
  console.log('button clicked');
  $.ajax({url: '/save',method:"post",data:{
    item:$("#tt").val()
  }, success:function(){
      console.log('done');
      $("#tt").val("");
  }});

});

$('#delete').click(function(){
    console.log('button clicked');
    $.ajax({url: '/delete',method:"post", success:function(){
        console.log('deleted');

    }});
});
</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
